---
- name: installation overview
  debug:
    msg:
      - "domains: {{ cgpro_domains | join(' ') }}"
      - "certificate: {{ cgpro_ssl_cert }}"
      - "reset: {{ cgpro_reset }}"
      - "restore: {{ cgpro_restore }}"
  tags: cgpro_all

- name: perform cgpro tasks as root
  import_tasks: root.yml
  become: true
  tags: cgpro_all

- meta: flush_handlers
...
